{% extends 'base.html.twig' %}

{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}

{% block body %}

    <h1>Історія покупок</h1>

    {% for order in orders %}
        <div class="order-block">
            <h2>Замовлення №{{ order.number }}</h2>
            <ul class="product-list">
                {% for product in order.products %}
                    <li class="product-item">
                        <img src="{{ product.image }}" alt="{{ product.name }}">
                        <div class="product-details">
                            <h3>{{ product.name }}</h3>
                            <p>Ціна: {{ product.price }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}

{% endblock %}

{% block footer %}
    {% include 'footer.html.twig' %}
{% endblock %}