{% extends 'base.html.twig' %}

{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}

{% block body %}
    <h1 class="mt-5">Історія покупок</h1>

    {% for order in orders|reverse %}
        <div class="order-block">
            <h2>Замовлення №{{ order.orderNumber }}</h2>
            <ul class="product-list">
                {% for orderDetail in order.orderDetails %}
                    <li class="product-item">
                        {% set goods = orderDetail.goodsId %}
                        <img src="{{ goods.image }}" alt="{{ goods.name }}">
                        <div class="product-details">
                            <h3>{{ goods.name }}</h3>
                            <p>Ціна: {{ goods.price }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% endblock %}

{% block footer %}
    {% include 'footer.html.twig' %}
{% endblock %}