{% extends 'base.html.twig' %}

{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}

{% block body %}
<div class="main-cart-container mt-4">
        {% if cart is empty %}
            <div class="no-cart">
                <h2 class="">Ваш кошик порожній</h2>
                <p class="">Якщо ви впевнені, що сюди щось додавалось, спробуйте увійти
                    <br>
                    до свого облікового запису і подивитись там ;)</p>
                <div class="">
                    <form class="" action="#">
                        <button type="submit">Увійти</button>
                    </form>
                </div>
                <a href="{{ path('app_main')}}">Або продовжити купування</a>
            </div>
        {% else %}

    <div class="flex-block-cart">
            <div class="cart-container">
                <div class="cart-header">
                    <h2 class="cart-title">Кошик</h2>
                    <div class="cart-items-count">
                        <span class="counter-text">Товарів:</span>
                        <span class="counter">{{ goodsQuantity }}</span>
                    </div>
                </div>
                <div class="cart-items">
                    <ul>
                        {% for goods in cart %}
                            <li class="cart-item">
                                <img src="{{ goods.image }}" alt="{{ goods.name }}" class="product-image">
                                <div class="product-details-cart">
                                    <h3 class="product-title-cart">{{ goods.name }}</h3>
                                    <form class="delete-form" action="{{ path('app_clear_cart', {id: goods.id}) }}" method="post">
                                            <button type="submit"><i class='bx bxs-trash'></i></button>
                                        </form>
                                    <p class="product-attribute">Розмір: M</p>
                                    <p class="product-attribute">Колір: black</p>
                                    <turbo-frame id="turbo-quantity-cart">
                                        {% for message in app.flashes('error-cart') %}
                                            <script>document.body.style.overflow = 'hidden';</script>
                                            <div class="error-no-goods" onclick="this.remove(); document.body.style.overflow = 'auto';">
                                                <div class="error-popup">
                                                    <div class="error-icon">
                                                        <i class='bx bx-error-alt'></i>
                                                    </div>
                                                    <h5 class="ops">Упс!</h5>
                                                    <div class="error-message">{{ message }}</div>
                                                    <div class="end-error-message">Закрити</div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        <div class="quantity-panel">
                                            <form action="{{ path('app_update_cart', {id: goods.id, action: 'decrease'}) }}" method="post">
                                                <button type="submit" class="quantity-button">-</button>
                                            </form>
                                            <span class="quantity-span">{{ goods.quantity }}</span>
                                            <form action="{{ path('app_update_cart', {id: goods.id, action: 'increase'}) }}" method="post">
                                                <button type="submit" class="quantity-button">+</button>
                                            </form>
                                        </div>
                                    </turbo-frame>
                                    <p class="product-price-cart">{{ goods.price * goods.quantity }} USD</p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="cart-summary">
                <div class="total-amount">
                    <h4 class="total-text">Загальна сума:</h4>
                    <h4 class="total-price">{{ totalAmounts }} USD</h4>
                </div>
                <form action="{{ path('app_place_order')}}" method="post">
                    <button class="order-button" type="submit">Перейти до оформлення</button>
                </form>
                <div class="description-cart-order">
                    <span>CПОСОБИ ОПЛАТИ</span>
                    <br>
                    <img class="svg-visa-mastercard" src="{{ asset('svg/visa-mastercard-new.svg') }}" alt="svg-visa-mastercard">
                    <p class="description-cart-order-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <p class="description-cart-order-p">Type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div>
    </div>
        {% endif %}
</div>

{% endblock %}