{% extends 'base.html.twig' %}

{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}

{% block body %}
<div class="container-fluid mt-5">
    {% if cart is empty %}
        <p>Кошик порожній</p>
    {% else %}
        <div class="cart-container">
            <div class="cart-items">
                <ul>
                    {% for goods in cart %}
                        <li class="cart-item">
                            <img src="{{ goods.image }}" alt="{{ goods.name }}" class="product-image">
                            <div class="product-details">
                                <h3 class="product-title">{{ goods.name }}</h3>
                                <p class="product-price">{{ goods.price }}</p>
                                <turbo-frame id="clear-goods-turbo">
                                    <form class="delete-to-goods" action="{{ path('app_clear_cart')}}" method="post">
                                        <input type="hidden" name="goods_id" value="{{ goods.id }}">
                                        <button type="submit"></button>
                                    </form>
                                </turbo-frame>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="cart-summary">
                <h2>Оформлення товару</h2>

                <form action="{{ path('app_place_order') }}" method="post">
                    <button class="order-button" type="submit">Оформити замовлення</button>
                </form>


                <p>Опис товару, додаткові деталі та інформація про оформлення.</p>
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}


{% block footer %}
    {% include 'footer.html.twig' %}
{% endblock %}