<turbo-frame id="buy-button-turbo">
    <div class="product-sizes">
        <p>Розмір</p>
        {% for goodsSize in goods.getGoodsSizes %}
            {% if goodsSize.getSizeId is not null %}
                {% set size = goodsSize.getSizeId.getSize %}
                {% set quantity = goodsSize.getQuantity %}
                <div {% if quantity == 0 %}class="size-pill-null" {% elseif quantity > 0 %}class="size-pill" {% endif %} data-size-id="{{ goodsSize.getSizeId.id }}">{{ size }}</div>
            {% endif %}
        {% endfor %}
    </div>
    <script>addSizePillEventListeners();</script>
    <form class="add-to-cart" action="{{ path('app_to_cart') }}" method="post" onsubmit="return validateSizeSelection()">
        <input type="hidden" name="goods_id" value="{{ goods.id }}">
        <input type="hidden" name="size_id" id="size_id" value="">
        {% for message in app.flashes('error') %}
            <script>document.body.style.overflow = 'hidden';</script>
            <div class="error-no-goods" onclick="this.remove(); document.body.style.overflow = 'auto';">
                <div class="error-popup">
                    <div class="error-icon">
                        <i class='bx bx-error-alt'></i>
                    </div>
                    <h5 class="ops">Упс!</h5>
                    <div class="error-message">{{ message }}</div>
                    <div class="end-error-message">Закрити</div>
                </div>
            </div>
        {% endfor %}
        {% if hasAvailableSizes %}
            <button type="submit" class="add-to-cart-btn" id="add-to-cart-btn"><i class='bx bx-shopping-bag'></i> Додати у кошик</button>
        {% else %}
            <button type="submit" class="add-to-cart-btn-null" disabled>Товару немає в наявності</button>
        {% endif %}
    </form>
</turbo-frame>