{#{% extends 'base.html.twig' %}#}

{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="slider-container">
            <div class="thumbnail-images">
                <img class="thumbnail" src="{{ goods.getImage }}" alt="Thumbnail 1">
                <img class="thumbnail" src="{{ asset('img/5372n-03x-002-1-575375-2.jpg') }}" alt="Thumbnail 2">
                <img class="thumbnail" src="{{ asset('img/5372n-03x-050-1-500745-8.jpg') }}" alt="Thumbnail 3">
                <img class="thumbnail" src="{{ asset('img/5372n-03x-050-1-500745-8.jpg') }}" alt="Thumbnail 4">
            </div>
            <div class="product-details">
                <div class="main-image">
                    <img id="mainImage" src="{{ goods.getImage }}" alt="Main Image">
                </div>
            </div>
            <div class="product-info">
                <h2 class="product-title">{{ goods.getName }}</h2>
                <p class="product-price">{{ goods.getPrice }} USD</p>
                <turbo-frame id="buy-button-turbo">
                    <div class="product-sizes">
                        <p>Розмір</p>
                        {% for goodsSize in goods.getGoodsSizes %}
                            {% if goodsSize.getSizeId is not null %}
                                {% set size = goodsSize.getSizeId.getSize %}
                                {% set quantity = goodsSize.getQuantity %}
                                <div {% if quantity == 0 %}class="size-pill-null" {% elseif quantity > 0 %}class="size-pill" {% endif %} data-size-id="{{ goodsSize.getSizeId.id }}">{{ size }}</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <script>addSizePillEventListeners();</script>
                        <form class="add-to-cart" action="{{ path('app_to_cart') }}" method="post" onsubmit="return validateSizeSelection()">
                            <input type="hidden" name="goods_id" value="{{ goods.id }}">
                            <input type="hidden" name="size_id" id="size_id" value="">
                            {% for message in app.flashes('error') %}
                                <script>document.body.style.overflow = 'hidden';</script>
                                <div class="error-no-goods" onclick="this.remove(); document.body.style.overflow = 'auto';">
                                    <div class="error-popup">
                                        <div class="error-icon">
                                            <i class='bx bx-error-alt'></i>
                                        </div>
                                        <h5 class="ops">Упс!</h5>
                                        <div class="error-message">{{ message }}</div>
                                        <div class="end-error-message">Закрити</div>
                                    </div>
                                </div>
                            {% endfor %}
                            {% for message in app.flashes('success') %}
                                <script>document.body.style.overflow = 'hidden';</script>
                                <div class="success-yes-goods" onclick="this.remove(); document.body.style.overflow = 'auto';">
                                    <div class="success-popup">
                                        <div class="success-icon">
                                            <i class='bx bx-check-circle'></i>
                                        </div>
                                        <h5 class="yep">Успіх!</h5>
                                        <div class="success-message">{{ message }}</div>
                                        <div class="end-success-message">Закрити</div>
                                    </div>
                                </div>
                            {% endfor %}
                            {% if hasAvailableSizes %}
                                <button type="submit" class="add-to-cart-btn" id="add-to-cart-btn"><i class='bx bx-shopping-bag'></i> Додати у кошик</button>
                            {% else %}
                                <button type="submit" class="add-to-cart-btn-null" disabled>Товару немає в наявності</button>
                            {% endif %}
                        </form>
                    </turbo-frame>
            </div>
        </div>
        <div class="additional-info">
            <div class="description">
                <h3 class="section-title">Опис</h3>
                <div class="section-content">
                    <p>{{ goods.getDescription }}</p>
                </div>
            </div>
            <div class="specs-reviews">
                <h3 class="section-title">Склад і огляд</h3>
                <div class="section-content">
                    <p>{{ goods.getComposition }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container rm">
        <h5 class="new-tmp">РЕКОМЕНДУЄМО</h5>
        <div id="carouselSlideGoods" class="carousel">
            {% for good in goodsBD %}
                <a href="{{ path('app_goodsPage', {slug: good.slug}) }}">
                    <div class="carousel-slide">
                        <div class="product-block">
                            <img src="{{ good.image }}" alt="Top Rated Goods">
                            <div class="name-product">{{ good.name }}</div>
                            <p class="price">${{ good.price }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
            <button class="custom-prev-btn"><i class='bx bx-chevron-right bx-flip-horizontal'></i></button>
            <button class="custom-next-btn"><i class='bx bx-chevron-right bx-flip-vertical'></i></button>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ asset('js/slick-1.8.1/slick/slick.min.js') }}"></script>
    <script src="{{ asset('js/activeSizes.js') }}"></script>
    <script src="{{ asset('js/goodsSlider.js') }}"></script>
    <script src="{{ asset('js/activeOpis.js') }}"></script>
    <script src="{{ asset('js/slickTrack.js') }}"></script>
    <script src="{{ asset('js/goodBuy.js') }}"></script>
    <script>addSizePillEventListeners();</script>

{% endblock %}

{% block footer %}
    {% include 'footer.html.twig' %}
{% endblock %}