{% extends 'base.html.twig' %}

    {% block header %}
        {% include 'header.html.twig' %}
    {% endblock %}


{% block body %}
    <div class="main">
        <div id="slider">
            <img class="imgSM-1" src="{{ asset('img/241810589_1259641347789699_7031140725086112762_n.jpg') }}" alt="Slide 1">
            <img class="imgSM-2" src="{{ asset('img/241969926_1259641327789701_2973390681072688308_n.jpg') }}" alt="Slide 2">
            <button class="btn prev-btn"></button>
            <button class="btn next-btn"></button>
            <button class="subscribe-btn-slider">Подивитись новинки</button>
        </div>
        <div class="news-goods-block">
            <a href="{{ path('app_goodsFemale') }}" class="news-block-link news-block-women">
                <div class="news-block">
                    <img src="{{ asset('img/UA-BOX2-20230419.avif') }}" alt="Novelties for Women">
                </div>
            </a>
            <a class="news-block-link">
                <div class="news-block">
                    <img src="{{ asset('img/UA-BOX1-20230419.avif') }}" alt="">
                    <a href="{{ path('app_goodsFemale') }}"><div class="text-overlay-left">Для неї</div></a>
                    <a href="{{ path('app_goodsMale') }}"><div class="text-overlay-right">Для нього</div></a>
                </div>
            </a>
            <a href="{{ path('app_goodsMale') }}" class="news-block-link news-block-men">
                <div class="news-block ">
                    <img src="{{ asset('img/UA-BOX3-20230419.avif') }}" alt="Novelties for Men">
                </div>
            </a>
        </div>
        <div class="container">
                <h5 class="new-tmp">Новинки</h5>
                <div id="carouselSlide" class="carousel">
                    {% for good in goods|slice(-10, none) %}
                            <a href="{{ path('app_goodsPage', {slug: good.slug}) }}">
                                <div class="carousel-slide" >
                                    <div class="product-block">
                                        <img src="{{ good.image }}" alt="New Goods">
                                        <div class="name-product">{{ good.name }}</div>
                                        <p class="price">${{ good.price }}</p>
                                    </div>
                                </div>
                            </a>
                    {% endfor %}
                    <button class="custom-prev-btn"><i class='bx bx-chevron-right bx-flip-horizontal' ></i></button>
                    <button class="custom-next-btn"><i class='bx bx-chevron-right bx-flip-vertical' ></i></button>
                </div>
        </div>
        <div class="container mt-5 mfg">
            <div class="newsletter-block">
                <div class="newsletter-content">
                    <h1 class="newsletter-title">Підпишіться на нашу розсилку</h1>
                    <h5 class="newsletter-text">Підпишіться на нашу розсилку, щоб отримати спеціальні пропозиції та оновлення про нові товари</h5>
                    <turbo-frame id="turbo-subscribe-form">
                        {% for message in app.flashes('error') %}
                            <script>document.body.style.overflow = 'hidden';</script>
                            <div class="error-no-goods" onclick="this.remove(); document.body.style.overflow = 'auto';">
                                <div class="error-popup">
                                    <div class="error-icon">
                                        <i class='bx bx-error-alt'></i>
                                    </div>
                                    <h5 class="ops">Йой!</h5>
                                    <div class="error-message">{{ message }}</div>
                                    <div class="end-error-message">Закрити</div>
                                </div>
                            </div>
                        {% endfor %}
                        {% for message in app.flashes('success') %}
                            <script>document.body.style.overflow = 'hidden';</script>
                            <div class="success-yes-goods" onclick="this.remove(); document.body.style.overflow = 'auto';">
                                <div class="success-popup">
                                    <div class="success-icon">
                                        <i class='bx bx-check-circle'></i>
                                    </div>
                                    <h5 class="yep">Успіх!</h5>
                                    <div class="success-message">{{ message }}</div>
                                    <div class="end-success-message-sub">Закрити</div>
                                </div>
                            </div>
                        {% endfor %}
                        <form class="newsletter-form" action="{{ path('app_subscribe') }}" method="post">
                            <div class="newsletter-category">
                                <span>Оберіть категорію, яка вас цікавить:</span>
                                <label for="maleSubscription">
                                    <input type="checkbox" name="maleSubscription" value="men">
                                    Чоловіки
                                </label>
                                <label for="femaleSubscription">
                                    <input type="checkbox" name="femaleSubscription" value="women">
                                    Жінки
                                </label>
                            </div>
                            <p>Можна вибрати обидві категорії</p>
                                <input type="email" class="newsletter-input" id="email" name="email" placeholder="Введіть вашу електронну адресу" required>
                            <button type="submit" class="newsletter-submit">Підписатися</button>
                            <label class="newsletter-terms mt-2">
                                <input type="checkbox" class="m-lg-1" name="terms" required>
                                Я приймаю правила та умови розсилки <a href="#">Політика конфіденційності</a>
                            </label>
                        </form>
                    </turbo-frame>
                </div>
                <div class="newsletter-image">
                    <img src="{{ asset('img/Blank 3 Grids Collage.png') }}" alt="Newsletter Image">
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ asset('js/slick-1.8.1/slick/slick.min.js') }}"></script>
    <script src="{{ asset('js/sliderMainPage.js') }}"></script>
    <script src="{{ asset('js/slickTrack.js') }}"></script>
    <script src="{{ asset('js/activeSizes.js') }}"></script>
    <script src="{{ asset('js/goodsSlider.js') }}"></script>
    <script src="{{ asset('js/subscription.js') }}"></script>


{% endblock %}



{% block footer %}
    {% include 'footer.html.twig' %}
{% endblock %}
